.container {
  padding-top: 5em;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

h3 {
  text-align: center;
}

h6 {
  text-align: center;
	font-size: x-small;
  margin-top: 3em;
}
